* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif; */
.wrapper {
    max-width: 940px;
    width: 90%;
    margin: 0 auto;
    padding-top: 142px;
    padding-bottom: 130px;
    font-family: 'PT Sans', sans-serif;
}

.header {
    text-align: center;
    text-transform: uppercase;
}

.header__small-title {
    font-size: 12px;
    font-family: "Montserrat Bold", sans-serif;
    font-weight: 700;
    color: #898f99;
    margin-bottom: 35px;
}

.header__main-title {
    font-size: 48px;
    font-family: 'Montserrat Regular', sans-serif;
    font-weight: 400;
    color: #0ec8cb;
    margin-bottom: 44px;
}

.header__text {
    width: 55%;
    margin: 0 auto 50px;
    margin-bottom: 18px;
    font-size: 18px;
    color: #999;
}

.cards-list {
    font-size: 0px;
    list-style: none;
    vertical-align: top;
    padding-top: 50px;
}

.cards-list__card {
    display: inline-block;
    width: 25%;
    min-height: 420px;
    background-color: #f7f7f7;
    border: 1px solid #ececec;
    padding: 55px 20px 0;
    transition: background-color .6s;
    vertical-align: top;
}


.cards-list__card__icon {
    width: 86px;
    height: 64px;
    margin: 0 auto;
    margin-bottom: 42px;
    transition: background-position .6s;
}

.card__title {
    /* Частина костиля з вирівнюванням тексту
    як же стидно таке городити
     */
    position: relative;
    height: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}

.card__title h3 {
  /*
  Костиль з вирівнювання тексту
  кошмар
   */
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  /* коли я вже запомню translate(horizontal_shift, vertical_shift) */
  transform: translate(0, -50%);
  /* фініш костиля */
  letter-spacing: 2px;
  font-size: 21px;
  font-family: 'Montserrat Regular', sans-serif;
}

.card__text {
    font-size: 14px;
    color: #999;
    font-family: "PT Sans Regular", sans-serif;
    text-align: center;
}

.anchor {
    background-image: url(../img/sprites2.png);
    background-position: 0 -86px;
}

.diamond {
    background-image: url(../img/sprites2.png);
    background-position: -86px -86px;
}

.glasses {
    background-image: url(../img/sprites2.png);
    background-position: -172px -86px;
}

.monitor {
    background-image: url(../img/sprites2.png);
    background-position: -258px -86px;
}

.cards-list__card:hover{
  background-color: #0ec8cb;
  border-color: #0ec8cb;
  color: #fff;
}

.cards-list__card:hover .card__text {
  color: #fff;
}

.cards-list__card:hover>.cards-list__card__icon {
  background-position-y: 0;
}

@media screen and (max-width: 850px) {
    .cards-list__card {
        width: 50%;
    }

    .header__text {
      width: 75%;
    }
}

@media screen and (max-width: 500px) {
  .cards-list__card {
    width: 100%;
  }

  .header__text{
    width: 80%
  }
}
