.about-section {
    background-color: $local-lightblue;
    background-image: url("../img/about/cup.png");
    background-repeat: no-repeat;
    background-position: center left 10%;
    background-size: contain;
    padding: 10rem 0 230 / 16 * 1rem;
    @media screen and (max-width: 1140px) {
        background-position: center;
        background-size: contain;
    }

    @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and ( -o-min-device-pixel-ratio: 2/1),
        only screen and ( min-device-pixel-ratio: 2),
        only screen and ( -webkit-min-device-pixel-ratio: 2),
        only screen and ( min-resolution: 192dpi),
        only screen and ( min-resolution: 2dppx) {
        background-image: url("../img/about/cup_2x.png");
    }

    @media
        only screen and (-webkit-min-device-pixel-ratio: 3),
        only screen and ( -o-min-device-pixel-ratio: 3/1),
        only screen and ( min-device-pixel-ratio: 3),
        only screen and ( -webkit-min-device-pixel-ratio: 4),
        only screen and ( -o-min-device-pixel-ratio: 4/1),
        only screen and ( min-resolution: 384dpi),
        only screen and ( -webkit-min-device-pixel-ratio: 3),
        only screen and ( min-resolution: 3dppx) {
        background-image: url("../img/about/cup_3x.png");
    }

    &__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    
    &__description {
        position: relative;
        z-index: 1;
        -webkit-box-flex: 0;
            -ms-flex: 0 1 500 / 16 * 1rem;
                flex: 0 1 500 / 16 * 1rem;
        color: #fff;
        @media screen and (max-width: 1140px) {
            color: #000;
        }
    }

    &__blur {
        display: none;
        position: absolute;
        z-index: -1;
        left: -5%;
        width: 110%;
        height: 100%;
        background-color: rgba(255,255,255, 0.4);
        filter: blur(10px);
        -webkit-filter: blur(10px);
        @media screen and (max-width: 1140px) {
            display: block;
        }
        @media screen and (max-width: 540px) {
            background-image: url("../img/about/cup.png");
            background-repeat: no-repeat;
            background-position: center top 35%;
            background-attachment: scroll;
        }
    }
    
    &__title {
        margin-bottom: 0.5rem;

        @media screen and (max-width: 540px) {
            text-align: center;
        }
    }

    &__text {
        margin-bottom: 0.9rem;
        line-height: 27 / 16 * 1rem;
    }
}