.contact-section {
    background-image: url("../img/contact/contact_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0 120px;
}