.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 50/16*1rem 0 0;
    &__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    &__logo {
        margin: 0 2rem 0 0;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        width: 8rem;
    }

    &__img {
        width: 100%;
        -o-object-fit: contain;
           object-fit: contain;
    }
}

.anchors-nav {
    max-width: 570 / 16 * 1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 570 / 16 * 1rem;
            flex: 0 1 570 / 16 * 1rem;

    @media screen and (max-width: 720px) {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
                flex: 0 1 auto;
    }
    
    &__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        @media screen and (max-width: 720px) {
            width: 50%;
            padding-top: 106px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            position: fixed;
            height: 100%;
            top: 0;
            // right: 0;
            background-color: #0008;
            left: 100%;
            z-index: 2;

        }
    }
    
    &--click {
        .anchors-nav__list {
            left: 50%
        }

        .anchors-nav__burger {
            position: fixed;
            left: 55%;
            top: 2.5%;
        }
    }

    &__item {
        width: 100 / 6 * 1%;
        @media screen and (max-width: 720px) {
            width: 100%;
        }
    }

    &__burger {
        display: none;

        @media screen and (max-width: 720px) {
            display: block;
            z-index: 4;
        }
    }
    
    &__anchor {
        margin: 0 auto;
        text-align: center;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        display: block;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        line-height: 25 / 16 * 1rem;
        color: #000;

        &::before {
            content: "";
            width: 100%;
            display: block;
            height: 0.25rem;
            background-color: $local-orange;
            position: absolute;
            top: -0.3rem;
            -webkit-transition: -webkit-transform .25s;
            transition: -webkit-transform .25s;
            -o-transition: transform .25s;
            transition: transform .25s;
            transition: transform .25s, -webkit-transform .25s;
            -webkit-transform: scaleX(0);
                -ms-transform: scaleX(0);
                    transform: scaleX(0);
        }

        &:hover::before {
            -webkit-transform: scaleX(1);
                -ms-transform: scaleX(1);
                    transform: scaleX(1);
        }

        @media screen and (max-width: 720px) {
            //border-top: 2px solid #000c;
            //background-color: #999a;
            color: #fff;
            font-size: 2.5rem;
            line-height: 4.5rem;
            width: 100%;
            // height: 100%;
            opacity: 0.5;
            -webkit-transition: all .25s;
            -o-transition: all .25s;
            transition: all .25s;

            &::before {
                display: none;
            }

            &:hover {
                opacity: 1;
                //background-color: $local-darkblue-inputs;
                //color: #fff;
            }
        }
    }
}

.burger {
    color: $burger-color;
    width: $burger-size;
    height: $burger-size / 3 * 2;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    &__bar {
        position: absolute;
        width: 100%;
        height: 20%;
        background-color: currentColor;
        left: 0;
        -webkit-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 50%;
            -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
        }

        &:nth-child(3) {
            bottom: 0;
        }
    }

    &--click {
        & .burger__bar {
            &:nth-child(1) {
                top: 40%;
                -webkit-transform: rotate(50deg);
                    -ms-transform: rotate(50deg);
                        transform: rotate(50deg);
                -webkit-transition: 0.55s 0.5s;
                -o-transition: 0.55s 0.5s;
                transition: 0.55s 0.5s;
            }
    
            &:nth-child(2) {
                opacity: 0;
            }
    
            &:nth-child(3) {
                bottom: 40%;
                -webkit-transform: rotate(-410deg);
                    -ms-transform: rotate(-410deg);
                        transform: rotate(-410deg);
                -webkit-transition: 0.55s 0.5s;
                -o-transition: 0.55s 0.5s;
                transition: 0.55s 0.5s;
            }
        }

        &:hover {
            color: $burger-hover;
            background-color: transparent;
        }
    }
}