.tiles-galery {
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr, 1fr;
    }

    &__item {
        font-size: 0;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            display: block;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #1a1a1a;
            opacity: 0.65;
        }
    }

    &__img {
        width: 100%;
        object-fit: cover;
        object-position: top center;
    }
}