@font-face {
    font-family: 'Lato';
    src: url('../fonts/icomoon.woff2') format('woff2'),
      url('../fonts/Lato-Bold.ttf?8hjknh') format('truetype'),
      url('../fonts/icomoon.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }