.section-we-do {
    padding: 120px 0;
    --main-color-svg: #{$main-color};

    &__title {
        margin-bottom: 110px;
    }

    &__subtitle {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2.2rem;
    }

    &__description {
        margin-bottom: 7.2rem;
        
        &:last-child {
            margin-bottom: 6rem;
        }
    }
}