* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

/* 
1920px
900px
 */

.container {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.header {
    background-image: url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    padding: 285px 0 115px;
}

.header__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 95px;
}

.header__title {
    text-transform: uppercase;
    max-width: 600px;
    width: 90%;
    font-weight: 700;
    font-size: 54px;
    text-align: center;
    margin: 0 auto 50px;
    color: #fff;
}

.header__description {
    text-transform: uppercase;
    max-width: 600px;
    width: 90%;
    text-align: center;
    margin: 0 auto 245px;
    line-height: 29px;
    color: #fff;
    font-size: 15px;
}

.header__scroll {
    display: block;
    margin: 0 auto;
}

.hole-in-border {
    border: 2px solid;
    border-color: #3c3c3c;
    color: #3c3c3c;
    border-top-color: transparent;
    position: relative;
}

.hole-in-border::before,
.hole-in-border::after {
    content: "";
    position: absolute;
    width: calc(50% - 210px);
    top: 0;
    border-bottom: 2px solid;
    border-color: inherit;
}

.hole-in-border::before {
    left: -2px;
}

.hole-in-border::after {
    right: -2px;
}

.hole-in-border--light {
    border-color: #fff;
    border-top-color: transparent;
    color: #fff;
}

.hole-in-border__title {
    display: block;
    text-align: center;
    margin-top: -0.5em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 34px;
}

.hole-in-border__description:last-child {
    margin-bottom: 30px;
}

.hole-in-border__description {
    font-size: 16px;
    text-align: center;
    max-width: 550px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
}

.section-about {
    background-color: #fff;
    padding: 160px 0;
}

.section-about__title {
    margin-bottom: 60px;
}

.section-services {
    background-image: url("../img/services.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 130px 0 110px;
}

.section-services__title {
    margin-bottom: 60px;
}

.section-services__description {
    margin-bottom: 0;
}



.section-we-do__icon {
    width: 85px;
    fill: #3c3c3c;
    display: block;
    margin: 0 auto;
}

.section-we-do__subtitle {
    text-align: center;
    text-transform: uppercase;
}

.section-we-do__icon--console {
    fill: #3c3c3c;
    stroke: #3c3c3c;
}

.section-we-do__icon--console .section-we-do__icon-symbol3 {
    fill: none;
}