* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

:root {
    --main-color: #3c3c3c;
    --hover-color: #87ceeb;
}

.container {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.header {
    background-image: url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    padding: 285px 0 115px;
}

.header__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 95px;
}

.header__title {
    text-transform: uppercase;
    max-width: 600px;
    width: 90%;
    font-weight: 700;
    font-size: 54px;
    text-align: center;
    margin: 0 auto 50px;
    color: #fff;
}

.header__description {
    text-transform: uppercase;
    max-width: 600px;
    width: 90%;
    text-align: center;
    margin: 0 auto 245px;
    line-height: 29px;
    color: #fff;
    font-size: 15px;
}

.header__scroll {
    display: block;
    margin: 0 auto;
}

.hole-in-border {
    border: 2px solid;
    border-color: var(--main-color);
    color: var(--main-color);
    border-top-color: transparent;
    position: relative;
}

.hole-in-border::before,
.hole-in-border::after {
    content: "";
    position: absolute;
    width: calc(50% - 210px);
    top: -2px;
    border-bottom: 2px solid;
    border-color: inherit;
}

.hole-in-border::before {
    left: -2px;
}

.hole-in-border::after {
    right: -2px;
}

.hole-in-border--light {
    border-color: #fff;
    border-top-color: transparent;
    color: #fff;
}

.hole-in-border__title {
    display: block;
    text-align: center;
    margin-top: -0.5em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 34px;
}

.hole-in-border__description:last-child {
    margin-bottom: 30px;
}

.hole-in-border__description {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    max-width: 550px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 35px;
}

.section-about {
    background-color: #fff;
    padding: 160px 0;
}

.section-about__title {
    margin-bottom: 60px;
}

.section-services {
    background-image: url("../img/services.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 130px 0 110px;
}

.section-services__title {
    margin-bottom: 60px;
}

.section-services__description {
    margin-bottom: 0;
}

.section-we-do {
    padding: 120px 0;
    --main-color-svg: var(--main-color);
}

.section-we-do__title {
    margin-bottom: 110px;
}

.section-we-do__subtitle {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.section-we-do__description {
    margin-bottom: 115px;
}

.section-we-do__description:last-child {
    margin-bottom: 95px;
}


.section-tiels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.section-tiels__tiel {
    position: relative;
    width: calc(100% / 3 - 12px);
    min-width: 350px;
    overflow: hidden;
    margin-bottom: 12px;
}

.section-tiels__tiel::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: calc(237 / 802 * 100%);
}

.section-tiels__img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    object-fit: contain;
}

.section-tiels__text {
    text-transform: uppercase;
    position: absolute;
    left: calc(50 / 800 * 100%);
    bottom: calc(40 / 800 * 100%);
    font-size: 34px;
    font-weight: bold;
    color: #fff;
}

.section-contact {
    padding: 140px 0 0;
}

.section-contact__title {
    margin-bottom: 55px;
}

.section-contact__description {
    margin-bottom: 45px;
}

.section-contact__btn {
    display: block;
    max-width: 350px;
    width: 90%;
    margin: 0 auto 50px;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 0;
    border: none;
    transition: background-color .25s;
}

.section-contact__btn:hover {
    background-color: var(--hover-color);
    color: var(--main-color);
}

.footer {
    text-align: center;
    vertical-align: middle;
    padding: 65px 0;
}

.footer__logo {
    transform-origin: center;
    width: 35px;
    transform: translate(0, 45%);
    margin-right: 35px;
}

.footer__text {
    font-size: 14px;
}