$container-width: 1170px;
$local-orange: #ff6033;
$local-lightblue: #00bbbb;
$local-lightblue-inputs: #00c4c4;
$local-darkblue-inputs: #355b82;
$local-blue: #70bfff;
$local-darkblue: #5585a2;
$local-yellow: #ffe92f;
$local-green: #96b92c;
$local-purple: #b07cf7;
$local-red: #f72b3b;
$local-redForText: #ff2b58;
